{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="hh pb-5">
    <div class="container pt-5 hh">
        <div class="pt-5">
            <div class="card card-body">
                <h1 class="m-2 text-primary"><b>Recommended diet for people liable to diabetes</b> </h1>
            </div>
            <div class="card card-body text-justify">
                <h1>Best foods for people living with diabetes</h1>
                <h1>1. Fatty fish</h1>
                Salmon, sardines, herring, anchovies, and mackerel are great sources of
                the omega-3 fatty acids DHA and EPA, which have major benefits for
                heart health (1 􀀀).
                Getting enough of these fats on a regular basis is especially important
                for people with diabetes, who have an increased risk of heart disease
                and stroke.
                DHA and EPA protect the cells that line your blood vessels, reduce
                markers of inflammation, and may help improve the way your arteries
                function.
                Research indicates that people who eat fatty fish regularly have a lower
                risk of acute coronary syndromes, like heart attacks, and are less likely to
                die from heart disease (2).
                Studies show that eating fatty fish may also help regulate blood sugar.
                A study involving 68 adults who had overweight or obesity found that
                participants who consumed fatty fish had significant improvements in
                post-meal blood sugar levels than participants who consumed lean fish
                (3 􀀀).
                Fish is also a great source of high quality protein, which helps you feel
                full and helps stabilize blood sugar levels.
                SUMMARY
                Fatty fish contain omega-3 fats that can help reduce
                inflammation and other risk factors of heart disease and stroke.
                Best foods for people living with diabetes
                Plus, it’s a great source of protein, which is important for
                managing blood sugar.
                Plus, it’s a great source of protein, which is important for
                managing blood sugar.
                <h1>2. Leafy greens</h1>
                Leafy green vegetables are extremely nutritious and low in calories.
                They’re also very low in digestible carbs, or carbs absorbed by the body,
                so they won’t significantly affect blood sugar levels.
                Spinach, kale, and other leafy greens are good sources of many vitamins
                and minerals, including vitamin C.
                Some evidence suggests that people with diabetes have lower vitamin C
                levels than people without diabetes, and they may have greater vitamin C
                requirements (4 􀀀).
                Vitamin C acts as a potent antioxidant and also has anti-inflammatory
                qualities.
                Increasing dietary intake of vitamin C-rich foods can help people with
                diabetes increase their serum vitamin C levels while reducing
                inflammation and cellular damage (5 􀀀).
                SUMMARY
                Leafy green vegetables are rich in nutrients like vitamin C as well
                as antioxidants that protect your heart and eye health.
                <h2>3. Avocados</h2>
                Avocados have less than 1 gram of sugar, few carbohydrates, a high fiber
                content, and healthy fats, so you don’t have to worry about them raising
                your blood sugar levels.
                Avocado consumption is also associated with improved overall diet
                quality and significantly lower body weight and body mass index (BMI)

                (6 􀀀).
                This makes avocados an ideal snack for people with diabetes, especially
                since obesity increases the chances of developing diabetes.
                Avocados may have properties specific to preventing diabetes.
                A 2019 study in mice found that avocatin B (AvoB), a fat molecule found
                only in avocados, inhibits incomplete oxidation in skeletal muscle and
                the pancreas, which reduces insulin resistance (7 􀀀).
                More research is needed in humans to establish the connection between
                avocados and diabetes prevention.
                SUMMARY
                Avocados have less than 1 gram of sugar and are associated
                with improved overall diet quality. Avocados may also have
                properties specific to diabetes prevention.
                <h1>4. Eggs</h1>
                Regular egg consumption may reduce your heart disease risk in several
                ways.
                Eggs may decrease inflammation, improve insulin sensitivity, increase
                your HDL (good) cholesterol levels, and modify the size and shape of
                your LDL (bad) cholesterol.
                A 2019 study found that eating a high fat, low carb breakfast of eggs
                could help people with diabetes manage blood sugar levels throughout
                the day (8 􀀀).
                Older research has linked egg consumption with heart disease in people
                with diabetes.
                But a more recent review of controlled studies found that eating 6 to 12
                eggs per week as part of a nutritious diet did not increase heart disease
                risk factors in people with diabetes (9 􀀀).

                What’s more, some research suggests that eating eggs may reduce the
                risk of stroke (10 􀀀).
                SUMMARY
                Eggs may improve risk factors for heart disease, promote good
                blood sugar management, protect eye health, and keep you
                feeling full.
                <h1>5. Chia seeds</h1>
                Chia seeds are a wonderful food for people with diabetes.
                They’re extremely high in fiber, yet low in digestible carbs.
                In fact, 11 of the 12 grams of carbs in a 28-gram (1-ounce) serving of
                chia seeds are fiber, which doesn’t raise blood sugar.
                The viscous fiber in chia seeds can actually lower your blood sugar levels
                by slowing down the rate at which food moves through your gut and is
                absorbed.
                Chia seeds may help you achieve a moderate weight because fiber
                reduces hunger and makes you feel full. Chia seeds may also help
                maintain glycemic management in people with diabetes.
                A study involving 77 adults with overweight or obesity and a diagnosis of
                type 2 diabetes found that eating chia seeds supports weight loss and
                helps maintain good glycemic control (11 􀀀).
                Additionally, chia seeds have been shown to help reduce blood pressure
                and inflammatory markers.
                SUMMARY
                Chia seeds contain high amounts of fiber, which may help you
                lose weight. They also help maintain blood glucose levels.

                <h1>6. Beans</h1>
                Beans are affordable, nutritious, and super healthy.
                Beans are a type of legume rich in B vitamins, beneficial minerals
                (calcium, potassium, and magnesium), and fiber.
                They also have a very low glycemic index, which is important for
                managing diabetes.
                Beans may also help prevent diabetes.
                In a study involving more than 3,000 participants at high risk of
                cardiovascular disease, those who had a higher consumption of legumes
                had a reduced chance of developing type 2 diabetes (12).
                SUMMARY
                Beans are cheap, nutritious, and have a low glycemic index,
                making them a healthy option for people with diabetes.
                7. Greek yogurt
                A long-term study involving health data from more than 100,000
                participants found that a daily serving of yogurt was linked to an 18
                percent lower risk of developing type 2 diabetes (13 􀀀).
                It may also help you lose weight, if that’s a personal goal.
                Studies show yogurt and other dairy foods may lead to weight loss and
                improved body composition in people with type 2 diabetes (14 􀀀).
                The high levels of calcium, protein, and a special type of fat called
                conjugated linoleic acid (CLA) found in yogurt may help keep you full for
                longer.
                What’s more, Greek yogurt contains only 6–8 grams of carbs per serving,
                which is lower than conventional yogurt.
                It’s also higher in protein, which may promote weight loss by reducing
                appetite and thus decreasing calorie intake.
                SUMMARY
                Yogurt may promote healthy blood sugar levels, reduce risk
                factors for heart disease, and help with weight management.
                8. Nuts
                Nuts are delicious and nutritious.
                Most types of nuts contain fiber and are low in net carbs, although some
                have more than others.
                Research on a variety of different nuts has shown that regular
                consumption may reduce inflammation and lower blood sugar, HbA1c (a
                marker for long-term blood sugar management), and LDL (bad)
                cholesterol levels.
                Nuts may also help people with diabetes improve their heart health.
                A 2019 study involving more than 16,000 participants with type 2
                diabetes found that eating tree nuts — such as walnuts, almonds,
                hazelnuts, and pistachios — lowered their risk of heart disease and death
                (15 􀀀).
                Research also indicates that nuts can improve blood glucose levels.
                A study with people with type 2 diabetes found that eating walnut oil
                daily improved blood glucose levels (16 􀀀).
                This finding is important because people with type 2 diabetes often have
                elevated levels of insulin, which are linked to obesity.
                SUMMARY
                Nuts are a healthy addition to a balanced diet. They’re high in
                fiber and can help reduce blood sugar and LDL (bad) cholesterol
                levels.
                <h1>9. Broccoli</h1>
                Broccoli is one of the most nutritious vegetables around.
                A half cup of cooked broccoli contains only 27 calories and 3 grams of
                digestible carbs, along with important nutrients like vitamin C and
                magnesium (17 􀀀).
                Broccoli may also help manage your blood sugar levels.
                One study found that consuming broccoli sprouts led to a reduction in
                blood glucose in people with diabetes (18 􀀀).
                This reduction in blood glucose levels is likely due to sulforaphane, a
                chemical in cruciferous vegetables like broccoli and sprouts.
                SUMMARY
                Broccoli is a low calorie, low carb food with high nutrient value.
                It’s loaded with healthy plant compounds that may help protect
                against various diseases.
                <h1>10. Extra-virgin olive oil</h1>
                Extra-virgin olive oil contains oleic acid, a type of monounsaturated fat
                that may improve glycemic management, reduce fasting and post-meal
                triglyceride levels, and has antioxidant properties.
                This is important because people with diabetes tend to have trouble
                managing blood sugar levels and have high triglyceride levels.

                Oleic acid may also stimulate the fullness hormone GLP-1.
                In a large analysis of 32 studies looking at different types of fat, olive oil
                was the only one shown to reduce heart disease risk (19 􀀀).
                Olive oil also contains antioxidants called polyphenols.
                Polyphenols reduce inflammation, protect the cells lining your blood
                vessels, keep oxidation from damaging your LDL (bad) cholesterol, and
                decrease blood pressure.
                Extra-virgin olive oil is unrefined, so it retains antioxidants and other
                properties that make it so healthy.
                Be sure to choose extra-virgin olive oil from a reputable source, since
                many olive oils are mixed with cheaper oils like corn and soy.
                SUMMARY
                Extra-virgin olive oil contains healthy oleic acid. It has benefits
                for blood pressure and heart health.
                <h1>11. Flaxseeds</h1>
                Also known as common flax or linseeds, flaxseeds have a high content
                of heart-healthy omega-3 fats, fiber, and other unique plant compounds.
                A portion of their insoluble fiber is made up of lignans, which may help
                decrease heart disease risk and improve blood sugar management.
                A review analyzing 25 randomized clinical trials found a significant
                association between whole flaxseed supplementation and a reduction in
                blood glucose (20).
                Flaxseeds may also help lower blood pressure.
                A 2016 study involving participants with prediabetes found that a daily
                intake of flaxseed powder lowered blood pressure — but it did not
                improve glycemic management or insulin resistance (21 􀀀)

                More research is needed to investigate how flaxseed can help prevent or
                manage diabetes.
                But overall, flaxseed is beneficial for your heart and gut health.
                Plus, flaxseeds are very high in viscous fiber, which improves gut health,
                insulin sensitivity, and feelings of fullness.
                SUMMARY
                Flaxseeds may help reduce inflammation, lower heart disease
                risk, decrease blood sugar levels, and improve insulin sensitivity.
                <h1>12. Apple cider vinegar and vinegar</h1>
                Apple cider vinegar and plain vinegar have many health benefits.
                Although it’s made from apples, the sugar in the fruit is fermented into
                acetic acid. The resulting product contains less than 1 gram of carbs per
                tablespoon.
                According to a meta-analysis of six studies, including 317 people with
                type 2 diabetes, vinegar has beneficial effects on fasting blood sugar
                levels and HbA1c (22 􀀀).
                Apple cider vinegar may have many other healthful properties, including
                antimicrobial and antioxidant effects. But more studies are needed to
                confirm its health benefits.
                To incorporate apple cider vinegar into your diet, begin with 4 teaspoons
                mixed in a glass of water each day before each meal. Note that you may
                want to put 1 teaspoon per glass of water so that the taste is not as
                strong. Increase to a maximum of 4 tablespoons per day.
                SUMMARY
                Apple cider vinegar may help improve fasting blood sugar levels,
                but more research is needed to confirm its health benefits.

                <h1>13. Strawberries</h1>
                Strawberries are high in antioxidants known as anthocyanins, which give
                them their red color.
                They also contain polyphenols, which are beneficial plant compounds
                with antioxidant properties.
                A 2017 study found that a 6-week consumption of polyphenols from
                strawberries and cranberries improved insulin sensitivity in adults with
                overweight and obesity who didn’t have diabetes (23 􀀀).
                This is important because low insulin sensitivity can cause blood sugar
                levels to become too high.
                A 1-cup serving of strawberries contains about 53.1 calories and 12.7
                grams of carbs, three of which are fiber (24 􀀀).
                This serving also provides more than 100% of the reference daily intake
                (RDI) for vitamin C, which provides additional anti-inflammatory benefits
                for heart health.
                SUMMARY
                Strawberries are low sugar fruits that have strong antiinflammatory
                properties and may help improve insulin
                resistance.
                <h1>14. Garlic</h1>
                For its tiny size and low calorie count, garlic is incredibly nutritious.
                One clove (3 grams) of raw garlic, which is roughly 4 calories, contains
                (25 􀀀):
                <pre>
                Manganese: 2% of the daily value (DV)
                
                Vitamin B6: 2% of the DV
                Vitamin C: 1% of the DV
                Selenium: 1% of the DV
                Fiber: 0.06 grams
                </pre>
                Research indicates that garlic contributes to improved blood glucose
                management and can help regulate cholesterol (26 􀀀).
                Although many studies that determine garlic is a proven healthy option
                for people living with diabetes include abnormal dietary amounts of
                garlic, the meta-analysis cited above only included servings from 0.05–
                1.5 grams.
                For context, one clove of garlic is around 3 grams.
                Research also indicates that garlic can help reduce blood pressure and
                regulate cholesterol levels (26 􀀀).
                SUMMARY
                Garlic helps lower blood sugar, inflammation, LDL cholesterol,
                and blood pressure in people with diabetes.
                <h1>15. Squash</h1>
                Squash, which has many varieties, is one of the healthiest vegetables
                around.
                The dense, filling food is fairly low in calories and has a low glycemic
                index.
                Winter varieties have a hard shell and include acorn, pumpkin, and
                butternut.
                Summer squash has a soft peel that can be eaten. The most common
                types are zucchini and Italian squash.
                Like most vegetables, squash contains beneficial antioxidants. Squash
                also has less sugar than sweet potatoes, making it a great alternative.
                Research shows that pumpkin polysaccharides, which are also found in
                squash, improved insulin tolerance and decreased levels of serum
                glucose in rats (27).
                Although there’s very little research on humans, a small study in humans
                found that squash decreased high blood glucose levels quickly and
                effectively in people with diabetes who were critically ill (28 􀀀).
                More studies with humans are needed to confirm the health benefits of
                squash.
                But the health benefits of squash make it a great addition to any meal.
                SUMMARY
                Summer and winter squash contain beneficial antioxidants and
                may help lower blood sugar.
                <h1>16. Shirataki noodles</h1>
                Shirataki noodles are wonderful for diabetes and weight management.
                These noodles are high in the fiber glucomannan, which is extracted
                from konjac root.
                This plant is grown in Japan and processed into the shape of noodles or
                rice known as shirataki.
                Glucomannan is a type of viscous fiber, which helps you feel full and
                satisfied.
                What’s more, it’s been shown to reduce blood sugar levels after eating
                and improve heart disease risk factors in people with diabetes and
                metabolic syndrome (29 􀀀).
                In one study, glucomannan significantly reduced levels of fasting blood
                glucose, serum insulin, and cholesterol in rats with diabetes (30 􀀀).
                A 3.5-ounce (100-gram) serving of shirataki noodles also contains just 3
                grams of digestible carbs and just 10 calories per serving (31 􀀀).
                However, these noodles are typically packaged with a liquid that has a
                fishy odor, and you need to rinse them very well before use.
                Then, to ensure a noodle-like texture, cook the noodles for several
                minutes in a skillet over high heat without added fat.
                SUMMARY
                The glucomannan in shirataki noodles promotes feelings of
                fullness and can improve blood sugar management and
                cholesterol levels.
                
            </div>
        </div>

    </div>
    <style>
        .hh {
            background: url({% static 'images/pexels-any-lane-5946083.jpg' %});
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            opacity: 0.90;
        }

        body {
            background: black;
        }
        footer{
            background: orangered;
        }
    </style>
    {% endblock content %}